.NavDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NavImg {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  column-gap: 15px;
}

.TitleNav {
  font-size: 1.5rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-top: 0;
  margin-right: 50px;
}

nav ul li {
  list-style: none;
}

.Interline {
  width: 0.125rem;
  height: 1rem;
  margin-left: 8px;
  margin-top: 5px;
  border: solid 1px var(--white);
  background-color: rgba(10, 9, 9, 0.433);
}

hr {
  margin-top: 1.5rem;
}
